---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="font-semibold text-black dark:text-white">
      반가워요 👋
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p> 다양한 기술을 활용해 개발하는 것을 즐기는 백엔드 & 앱 엔지니어 이지혁입니다. 주로 Flutter와 NestJS를 사용하여 개발하며, 안정성과 성능 최적화를 위해 끊임없이 노력합니다. </p>
          <p> 최근에는 여러 프로젝트에 집중하고 있으며, 현재 광주소프트웨어마이스터고등학교 3학년에 재학 중입니다. 연락이 필요하시다면, 아래의 더 알아보기를 확인해 주세요. </p>
        </article>
      </section>

      <section class="space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            최근 작성 글
          </h5>
          <Link href="/blog">
            전체 보러가기
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <section class="space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            최근 프로젝트
          </h5>
          <Link href="/projects">
            전체 보러가기
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>

      <section class="space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            더 알아보기
          </h5>
        </div>
        <p>질문이 있으시거나 연락하려면 아래를 확인해 주세요.</p>
        <Link href="https://github.com/withJihyuk">
          Github
        </Link>
        <span>
          {`/`}
          <Link href="https://www.linkedin.com/in/%EC%A7%80%ED%98%81-%EC%9D%B4-049b6b278">
          Linkedin
        </Link>
        </span>
        <span>
          {`/`}
          <Link href="mailto:s23066@gsm.hs.kr">
          Email
        </Link>
        </span>
      </section>

    </div>
  </Container>
</PageLayout>
